<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <title>Vidortech</title>
</head>
<body style=" background-color: #000;">

    <div class="menu-toggle">
        <i class="fa-solid fa-bars" style="color: #ffffff;" id="menu-icon"></i>
    </div>

    <div class="menu-container">
        <div class="menu-items" translate="no">
            <ul>
                <li class="menu-item" href="/index.html">Home</li>
                <li class="menu-item" href="./contato/contato.html ">Contato</li>
                <li class="menu-item">About</li>
                <li class="menu-item">Contratar</li>
            </ul>
        </div>
    </div>


    <div class="cube">
        <div class="top"></div>
            
    <div>
        <span style="--i:0"></span>
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
    </div>
    

    </div>
    <main>
        <section class=""></section>







    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://kit.fontawesome.com/6d2133063a.js" crossorigin="anonymous"></script>
</body>
</html>
